Source: nymea-zigbee
Section: utils
Priority: optional
Maintainer: Simon Stuerz <simon.stuerz@guh.io>
Standards-Version: 3.9.7
Homepage: https://nymea.io
Vcs-Git: https://github.com/guh/nymea.git
Build-Depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               libqt5serialport5-dev,
               libreadline-dev

Package: libnymea-zigbee1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt5network5,
         libqt5gui5,
         libqt5serialport5
Description: Qt 5 based library for Zigbee
 Qt 5 based library for Zigbee.


Package: libnymea-zigbee1-dev
Section: libdevel
Architecture: any
Depends: libnymea-zigbee1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: Qt 5 based library for Zigbee - development files
 Development files for Qt 5 based Zigbee library.


Package: libnymea-zigbee1-dbg
Priority: extra
Architecture: any
Section: debug
Depends: libnymea-zigbee1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: Qt 5 based library for Zigbee - debug symbols
 Debug Symbols for Qt 5 based Zigbee library.
